{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "timeline" }}
{{ $paginator := .Paginate $pages }}

<main class="posts">
    <h1>{{ .Title }}</h1>

    {{ if .Content }}
    <div class="content">{{ .Content }}</div>
    {{ end }}

    {{ partial "social-icons.html" $.Site.Params.social }}

    <section class="timeline">
      <div class="container" style="text-align: left!important">
        {{ range  $paginator.Pages.ByWeight.Reverse  }} 

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                {{ if .Param "shouldLink" }}
                <h2><a href="{{.Permalink}}"><span class="post-title">{{.Title}}</span></a></h2>
                {{ else }}
                <h2><span class="post-title">{{.Title}}</span></h2>
                {{ end }}

                {{ if .Param "cardCategory" }}
                <div class="date">{{ .Param "cardCategory" }}</div>
                {{ else }}
                <div class="date">{{ .Date.Format "Jan 2, 2006"}}</div>
                {{ end }}

                <p>
                    {{.Summary}}
                </p> 
            </div>
        </div>  
        {{ end }}   
      </div>
    </section>
</main>
{{ end }}

